## Observations and Insights

In [1]:
%matplotlib notebook

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [2]:
# Combine the data into a single dataset
mouse_study_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

In [3]:
# Display the data table for preview
mouse_study_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [4]:
# Calculate number of rows prior to row-level deduplication
mouse_ttl_rows = len(mouse_study_df.index)
mouse_ttl_rows

1893

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# Use drop_duplicates with parameter subset, for keeping only last duplicated rows add
mouse_study_dedupe_df = mouse_study_df.drop_duplicates(subset=["Mouse ID","Timepoint"])
mouse_study_dedupe_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Calculate number of rows after row-level deduplication
mouse_dedupe_ttl_rows = len(mouse_study_dedupe_df.index)
print(f"After deduplication, there are {mouse_dedupe_ttl_rows} rows in the dataset.")
print(f"The deduplication removed {mouse_ttl_rows - mouse_dedupe_ttl_rows} rows from the original data set.")

After deduplication, there are 1888 rows in the dataset.
The deduplication removed 5 rows from the original data set.

In [7]:
# Optional: Get all the data for the duplicate mouse ID. 
# The first line of code declares the following logic:
#     If the a row has values for columns Mouse ID and Timepoint that are identical to those of another row, 
#     assign row value = True.
# The second line of code instructs the dataframe to serve up unique instances of duplicate rows, with a default
#     of selecting all but the first row of each grouping of duplicate rows.

has_duplicates = mouse_study_df.duplicated(subset=["Mouse ID","Timepoint"])
duplicates = mouse_study_df[has_duplicates]
duplicates

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [8]:
# Checking the number of mice in the clean DataFrame.
mouse_study_dedupe_df["Mouse ID"].nunique()

249

In [9]:
# Identify Drug Regigmens
drugs_list = mouse_study_dedupe_df["Drug Regimen"].unique()
drugs_num = mouse_study_dedupe_df["Drug Regimen"].nunique()
print(f"There are {drugs_num} Drug Regimens as part of this study, including:")
print(*drugs_list, sep = ", ")

There are 10 Drug Regimens as part of this study, including:
Ramicane, Capomulin, Infubinol, Placebo, Ceftamin, Stelasyn, Zoniferol, Ketapril, Propriva, Naftisol

In [10]:
# Examine data types for the cleaned DataFrame
mouse_study_dedupe_df.dtypes

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

## Summary Statistics

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume.

In [12]:
# *****IMPORTANT*****
# Apparently, I may have answered this question differently than was instructed.  BUT my response is that what was 
#     instructed, an average of tumor size by drug could have led to badly skewed analysis.  Instead, the only way
#     to meaningfully analyze the data is first to take an average of tumor size measurements for each mouse, and
#     then to roll those averages into a set from which a second average value is calculated.  

#     Here's why in simple terms.  Say for a specific drug study there were 10 tumor size measurements for one mouse 
#     and 2 measurements for another mouse.  The instructed approach says to take an average for all tumor measurements.
#     This means that the instructed approach would allow the first mouse's tumor measurements to have 10x the 
#     weighting of the second mouse's tumor measurements.  This just doesn't make logical sense.  The question is trying 
#     to get at the average tumor size for each mouse.  My methodology - taking an average of averages - weights each
#     mouse equally in calculating an average tumor for the mouse population within each specific drug study.

#     I replicated this Groupby methodology for subseqent calculations: median, variance, standard deviation, and SEM.

In [13]:
# Calculate Average for Tumor Volume by Drug Regimen 
# Using a 2-variable Groupby operation with Drug Regimen as primary cluster and Mouse ID as secondary cluster,
#    and a second 2-variable Groupby operation by Drug Regimen as primary cluster and Tumor Volume as secondary field,
#    we were able to calculate average tumor size per mouse, and then roll up an average for each group of mice
#    subjected to a specific drug regimen.
# Method: groups using average of averages

avg_tumor_volume_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .mean()
avg_tumor_volume_by_drug

Drug Regimen
Capomulin    40.755487
Ceftamin     50.827485
Infubinol    51.383443
Ketapril     53.432527
Naftisol     52.499395
Placebo      52.540611
Propriva     50.613641
Ramicane     40.555988
Stelasyn     52.662319
Zoniferol    51.562955
Name: Tumor Volume (mm3), dtype: float64

In [14]:
# Show the base groupby object - with Drug Regimen master cluster and Mouse ID slave cluster
tumor_volume_by_drug_avg_for_mouse = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"]) \
     .mean()
tumor_volume_by_drug_avg_for_mouse

                       Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  \
Drug Regimen Mouse ID
Capomulin    b128             9.0        22.0       22.5           41.963636
             b742             7.0        21.0       22.5           40.083699
             f966            16.0        17.0       10.0           36.505973
             g288             3.0        19.0       22.5           41.990097
             g316            22.0        22.0       22.5           44.613344
...                           ...         ...        ...                 ...
Zoniferol    q633            12.0        25.0       22.5           56.124896
             s337            14.0        27.0       22.5           51.515155
             w140            19.0        30.0        2.5           46.358976
             w575            16.0        28.0       22.5           56.627561
             x613             2.0        29.0        7.5           46.498216

                       Metastatic Sites
Drug Regimen Mouse ID
Capomulin    b128                   0.7
             b742                   0.0
             f966                   0.0
             g288                   0.8
             g316                   1.0
...                                 ...
Zoniferol    q633                   0.9
             s337                   1.7
             w140                   0.0
             w575                   1.4
             x613                   0.0

[249 rows x 5 columns]

In [15]:
# Calculate Median for Tumor Volume by Drug Regimen
# Method: groups using median of averages
median_tumor_volume_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .median()
median_tumor_volume_by_drug

Drug Regimen
Capomulin    41.384825
Ceftamin     52.128041
Infubinol    51.897959
Ketapril     53.725479
Naftisol     53.353053
Placebo      53.392180
Propriva     49.923649
Ramicane     40.108578
Stelasyn     52.651204
Zoniferol    52.437635
Name: Tumor Volume (mm3), dtype: float64

In [16]:
# Calculate Variance for Tumor Volume by Drug Regimen
# Method: groups using variance of averages
var_tumor_volume_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .var()
var_tumor_volume_by_drug

Drug Regimen
Capomulin    10.529290
Ceftamin     14.040506
Infubinol    17.380408
Ketapril     24.086484
Naftisol     22.886774
Placebo      19.610351
Propriva     15.402512
Ramicane     10.256711
Stelasyn     22.147071
Zoniferol    16.782584
Name: Tumor Volume (mm3), dtype: float64

In [17]:
# Calculate Standard Deviation for Tumor Volume by Drug Regimen
# Method: groups using standard deviation of averages
std_tumor_volume_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .std()
std_tumor_volume_by_drug

Drug Regimen
Capomulin    3.244887
Ceftamin     3.747066
Infubinol    4.168982
Ketapril     4.907798
Naftisol     4.784012
Placebo      4.428358
Propriva     3.924603
Ramicane     3.202610
Stelasyn     4.706067
Zoniferol    4.096655
Name: Tumor Volume (mm3), dtype: float64

In [18]:
# Calculate Standard Error from the Mean (SEM) for Tumor Volume by Drug Regimen
# Method: groups using SEM of averages
sem_tumor_volume_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .sem()
sem_tumor_volume_by_drug

Drug Regimen
Capomulin    0.648977
Ceftamin     0.749413
Infubinol    0.833796
Ketapril     0.981560
Naftisol     0.956802
Placebo      0.885672
Propriva     0.784921
Ramicane     0.640522
Stelasyn     0.960622
Zoniferol    0.819331
Name: Tumor Volume (mm3), dtype: float64

In [19]:
# Calculate the number of mice (unique) involved in each Drug Regimen study
mice_count_by_drug = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .count()
mice_count_by_drug

Drug Regimen
Capomulin    25
Ceftamin     25
Infubinol    25
Ketapril     25
Naftisol     25
Placebo      25
Propriva     25
Ramicane     25
Stelasyn     24
Zoniferol    25
Name: Tumor Volume (mm3), dtype: int64

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# I added mice count to the summary table.
# Assemble the resulting series into a single summary dataframe.
# Create data frame with obtained values
tumor_vol_summary_df = pd.DataFrame({"Tumor Vol Avg": avg_tumor_volume_by_drug, 
                                     "Tumor Vol Median": median_tumor_volume_by_drug,
                                     "Tumor Vol Var": var_tumor_volume_by_drug,
                                     "Tumor Vol StD": std_tumor_volume_by_drug,
                                     "Tumor Vol SEM": sem_tumor_volume_by_drug,
                                     "Mice Count": mice_count_by_drug})

print(f"Analysis of Tumor Volume (mm3) by Drug Regimen\n")
print(f"Variance measures the spread between numbers in a data set.")
print(f"Standard Deviation (StD) provides a 'standard' way of knowing what is normal and what is not in a numbers spread.")
print(f"Standard Error from the Mean (SEM) is similar to StD, but tells how far a sample  mean might deviate from a population mean.")

tumor_vol_summary_df

Analysis of Tumor Volume (mm3) by Drug Regimen

Variance measures the spread between numbers in a data set.
Standard Deviation (StD) provides a 'standard' way of knowing what is normal and what is not in a numbers spread.
Standard Error from the Mean (SEM) is similar to StD, but tells how far a sample  mean might deviate from a population mean.

,Tumor Vol Avg,Tumor Vol Median,Tumor Vol Var,Tumor Vol StD,Tumor Vol SEM,Mice Count
Drug Regimen,,,,,,
Capomulin,40.755487,41.384825,10.529290,3.244887,0.648977,25
Ceftamin,50.827485,52.128041,14.040506,3.747066,0.749413,25
Infubinol,51.383443,51.897959,17.380408,4.168982,0.833796,25
Ketapril,53.432527,53.725479,24.086484,4.907798,0.981560,25
Naftisol,52.499395,53.353053,22.886774,4.784012,0.956802,25
Placebo,52.540611,53.392180,19.610351,4.428358,0.885672,25
Propriva,50.613641,49.923649,15.402512,3.924603,0.784921,25
Ramicane,40.555988,40.108578,10.256711,3.202610,0.640522,25
Stelasyn,52.662319,52.651204,22.147071,4.706067,0.960622,24
Zoniferol,51.562955,52.437635,16.782584,4.096655,0.819331,25

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume 
#      for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
tumor_vol_summary_df2 = mouse_study_dedupe_df \
     .groupby(["Drug Regimen", "Mouse ID"], as_index=False) \
     .mean() \
     .groupby("Drug Regimen")["Tumor Volume (mm3)"] \
     .aggregate(["mean", "median", "var", "std", "sem", "count"])

tumor_vol_summary_df2

                   mean     median        var       std       sem  count
Drug Regimen
Capomulin     40.755487  41.384825  10.529290  3.244887  0.648977     25
Ceftamin      50.827485  52.128041  14.040506  3.747066  0.749413     25
Infubinol     51.383443  51.897959  17.380408  4.168982  0.833796     25
Ketapril      53.432527  53.725479  24.086484  4.907798  0.981560     25
Naftisol      52.499395  53.353053  22.886774  4.784012  0.956802     25
Placebo       52.540611  53.392180  19.610351  4.428358  0.885672     25
Propriva      50.613641  49.923649  15.402512  3.924603  0.784921     25
Ramicane      40.555988  40.108578  10.256711  3.202610  0.640522     25
Stelasyn      52.662319  52.651204  22.147071  4.706067  0.960622     24
Zoniferol     51.562955  52.437635  16.782584  4.096655  0.819331     25

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

# Set x axis and tick locations
x_axis = np.arange(len(rain_df))
tick_locations = [value for value in x_axis]

In [26]:
tumor_vol_summary_df["Mice Count"].plot.bar

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen